.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    right: 0;
}

.left_menu{
 height: 100vh;
 background-color: red;
}

.right_menu{
    height: 100vh;
    background-color: green;
   }