header{
    height: 76px;
}

.bg-body-tertiary{
    --bs-bg-opacity: 0;
}

.dropdown-menu[data-bs-popper]{
    top: 100%;
    right: 0;
}

.side_bar{
    width: 12.5rem;
    height:calc(100vh - 76px);
    background-color: #051e34;
    background-image: url("../img/sidebar-bg.png");
}

.right_menu{
    height:calc(100vh - 76px);
}

.offcanvas.offcanvas-end{
    width: 40%;
}

.nav_top{
    background-color:#1b72e8 ;
}

.badge {
    --bs-badge-font-size: 0.65em;
    height: 20px;
}
